:root {
  --light-white: #f0f0f0;
  --light-black: #0f0f0f;
  --dark-gray: hsl(0, 0%, 55%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  height: 650px;
  padding: 35px 20px;
  background-image: url(../res/img/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 300ms ease;
}

.menu-show {
  background-color: var(--light-black);
}

.menu-show::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: " ";
}

#header__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-show {
  display: none;
}

#header__content nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header__content h1 {
  margin: 50% 0;
  padding: 20px;
  border: 2px solid var(--light-white);
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  text-align: justify;
  text-transform: uppercase;
  color: var(--light-white);
}

.corp-logo {
  width: 148px;
  height: 32px;
  background-image: url(../res/svg/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#nav__menu {
  width: 24px;
  height: 24px;
  background-image: url(../res/svg/icon-hamburger.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-show {
  background-image: url(../res/svg/icon-close.svg) !important;
}

#nav__ul {
  display: none;
}

#nav__ul li {
  margin: 0 15px;
}

.nav-show li > a,
#footer__ul li > a,
#nav__ul li > a {
  color: var(--light-white);
}

.nav-show li > a:hover,
#footer__ul li > a:hover,
#nav__ul li > a:hover {
  color: var(--dark-gray);
}

#hidden-ul {
  display: none;
}

.nav-show {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  margin: 40% 0;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-show li {
  margin: 10px 0;
}

.hover-line {
  transition: text-decoration 300ms ease-in-out;
}

.hover-line * {
  position: relative;
  display: block;
}

.hover-line *::before,
.hover-line *::after {
  position: absolute;
  width: 0%;
  height: 2px;
  content: "";
  bottom: -10px;
  background: var(--light-white);
}

.hover-line *::before {
  left: 0;
}

.hover-line *::after {
  right: 0;
  background: var(--light-white);
  transition: width 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hover-line *:hover::before {
  width: 100%;
  background: var(--light-white);
  transition: width 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hover-line *:hover::after {
  width: 100%;
  background: transparent;
  transition: 0ms;
}

main {
  width: 100%;
  height: auto;
  padding: 90px 20px 110px 20px;
  background-color: var(--light-white);
}

#main__content {
  display: block;
}

#main__content section {
  width: 100%;
  height: auto;
}

#main__content h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light-black);
}

#about-section {
  display: block;
}

#about__img {
  width: 100%;
  height: auto;
}

#about__article {
  display: block;
  padding: 40px 30px;
  text-align: center;
}

#about__article p {
  margin: 20px 0;
  color: var(--dark-gray);
}

#creations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#creations-section a {
  border: 1px solid var(--light-black);
  padding: 10px 40px;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--light-black);
  transition: background-color 300ms ease;
  order: 1;
}

#creations-section a:hover {
  color: var(--light-white);
  background-color: var(--light-black);
}

#set-container {
  width: 100%;
  height: auto;
  margin: 30px 0 15px;
}

.set__item {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 20px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 300ms ease;
}

.set__item:hover {
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.7);
}

.set__item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: " ";
}

.set__item p {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 53px 20px 20px 20px;
  text-align: start;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light-white);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.set__item p:hover {
  color: var(--light-black);
}

.earth {
  background-image: url(../res/img/mobile/image-deep-earth.jpg);
}

.arcade {
  background-image: url(../res/img/mobile/image-night-arcade.jpg);
}

.soccer {
  background-image: url(../res/img/mobile/image-soccer-team.jpg);
}

.grid {
  background-image: url(../res/img/mobile/image-grid.jpg);
}

.vr {
  background-image: url(../res/img/mobile/image-from-above.jpg);
}

.borealis {
  background-image: url(../res/img/mobile/image-pocket-borealis.jpg);
}

.curiosity {
  background-image: url(../res/img/mobile/image-curiosity.jpg);
}

.fisheye {
  background-image: url(../res/img/mobile/image-fisheye.jpg);
}

footer {
  width: 100%;
  height: auto;
  padding: 60px 20px;
  background-color: var(--light-black);
}

#footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--light-white);
}

#footer__content p {
  margin-top: 20px;
  color: var(--dark-gray);
}

#footer__ul {
  margin: 35px 0;
  list-style: none;
}

#footer__ul li {
  margin: 20px 0;
}

#social-icon__container {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
}

#social-icon__container span {
  cursor: pointer;
}

.footer__icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url(../res/svg/icon-facebook.svg);
}

.twitter {
  background-image: url(../res/svg/icon-twitter.svg);
}

.pinterest {
  background-image: url(../res/svg/icon-pinterest.svg);
}

.instagram {
  background-image: url(../res/svg/icon-instagram.svg);
}
